<form class="col-8 f-center m-5" method="post" action="/form">
  <div class="mb-3 ">
    <label for="exampleInputEmail1" class="form-label">User Name</label>
    <input name="username" type="text" class="form-control" placeholde="username" aria-label="username" aria-describedby="basic-addon1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>